.container {
    display: flex;
    width: 840px;
    margin: 0 auto;
    align-items: center;
    border-radius: 10px;
    position: relative;
    margin-bottom: 150px;
}
.titulo_container {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 0 auto;
    height: 80px;
    text-align: center;
    margin-bottom: 30px;
}

.titulo_container h2 {
    font-family: 'Balsamiq Sans', cursive;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(140, 50, 50);
    font-size: 25px;
}
.span-titulo {
    width: 400px;
    height: 5px;
    background-color: rgba(119, 59, 116, 0.12);
}
.span-titulo.left {
    left: 0;
    margin: 0 2em;
}
.span-titulo.right {
    right: 0;
    margin: 0 2em;
}

