.container {
    display: flex;
    width: 840px;
    margin: 0 auto;
    align-items: center;
    padding: 30px 20px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 120px;
    background-color: rgb(255, 180, 225);
}
.titulo_container {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 0 auto;
    height: 80px;
}

.titulo_container h2 {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(255, 180, 225);
}
.span-titulo {
    width: 400px;
    height: 5px;
    background-color: rgba(119, 59, 116, 0.12);
}
.span-titulo.left {
    left: 0;
    margin: 0 5em;
}
.span-titulo.right {
    right: 0;
    margin: 0 5em;
}

