.titulo_container {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    height: 80px;
}
.titulo_container h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(100, 10, 100);
}
.span-titulo {
    position: absolute;
    display: block;
    width: 400px;
    height: 5px;
    background-color: rgba(119, 59, 116, 0.12);
}
.span-titulo.left {
    left: 0;
    margin-left: 1em;
}
.span-titulo.right {
    right: 0;
    margin-right: 1em;
}
.container {
    display: flex;
    width: 1150px;
    margin: 0 auto;
    background-color: pink;
    align-items: center;
    padding: 30px 20px;
    border-radius: 10px;
    position: relative;
}

