
.titulo-banner {
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.titulo-banner h1{
    font-family: 'Courgette', cursive;
    width: 50%;
    font-size: 44px;
    text-align: center;
    margin-top: 20px;

}
.titulo-banner p {
    font-family: 'Courgette', cursive;
    font-size: 20px;
    margin: 20px;
    color: rgb(255, 116, 199);
}

.flex-cursos {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
    
}
.box-cursos {
    max-width: 400px;
    margin: 40px;
    box-shadow: 10px 10px 5px rgba(77, 35, 50, 0.4);
    cursor: pointer;
    border-radius: 2px;
}

.descricao-cursos {
    text-align: center;
    padding: 15px;
    background-color: rgb(255, 180, 225);
    color: indigo;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courgette', cursive;
}
.img-cursos {
    width: 400px;
    height: 380px;
    display: block;
}