
.titulo-banner {
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.titulo-banner h1{
    font-family: 'Courgette', cursive;
    width: 50%;
    font-size: 44px;
    text-align: center;
    margin-top: 20px;

}
.titulo-banner p {
    font-family: 'Courgette', cursive;
    font-size: 20px;
    margin: 20px;
    color: rgb(255, 116, 199);
}

.flex-cursos {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 150px;
    position: relative;
    
}
.box-cursos {
    max-width: 400px;
    margin: 40px;
    box-shadow: 10px 10px 5px rgba(77, 35, 50, 0.4);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    position: relative;
    border-radius: 50px;
    -webkit-tap-highlight-color: transparent;
}
.box-cursos:hover {
    transform: translateY(-5%);
}

.descricao-cursos {
    text-align: center;
    padding: 15px;
    background-color: rgba(255, 180, 225, 0.5);
    color: rgb(140, 50, 50);
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courgette', cursive;
    pointer-events: none;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}
.img-cursos {
    width: 400px;
    height: 380px;
    display: block;
    background-size: cover;
    pointer-events: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    
}
.desc-cursos h1 {
    margin: 55px 0;
    pointer-events: none;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Balsamiq Sans', cursive;
}
.desc-cursos p {
    padding: 15px;
    line-height: 2em;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Balsamiq Sans', cursive;
    
}
.desc-cursos {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Courgette', cursive;
    color: #9b2c19;
    background-color:  rgba(255, 180, 225, 0.8);
    visibility: hidden;
    border-radius: 50px;
    opacity: 0;
    transition: 1s;
    pointer-events: none;
}

 .box-cursos.show-it .desc-cursos {
    visibility: visible;
    opacity: 1;
}
