footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: pink;
    margin: 0 auto;
    padding: 30px;
}
.footerIMG {
    width: 200px;
}
footer p {
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
}