@media (max-width: 1240px) {
    .container {
        width: 90%;
        flex-direction: column;
    }
    .texto {
        width: 90%;
        margin-bottom: 20px;
    }
}


@media (max-width: 690px){
    .container {
        height: 500px;
    }
    .swiper-container {
        width: 100%;
    }
    #logo {
        width: 120px;
    }
}
@media screen and (max-width: 1000px){

    .caixa-header {
        width: auto;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
    }
    /* LISTA DE LINKS DO HEADER RESPONSIVO */
    .links {
        display: none;
    }
    .menu-span {
        display: flex;
    }
    #logo {
        width: 120px;
    }
}
