@media only screen and (max-width: 980px) {
    .caixa-header {
        width: auto;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
    }
    /* LISTA DE LINKS DO HEADER RESPONSIVO */
    .links {
        display: none;
    }
    .menu-span {
        display: flex;
    }
    #logo {
        width: 100px;
    }

    /* Container Página Principal com Slide */
    .titulo_container h2 {
        position: absolute;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 0px;
    }
    .container {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
        padding: 0px;
    }
    .container {
        height: 400px;
    }
    .swiper {
        width: 100%;
        height: 100%;
    }
  
    .span-titulo {
        width: 400px;
        height: 5px;
        background-color: rgba(119, 59, 116, 0.12);
    }
    .span-titulo.left {
        left: 0;
        margin: 0 4em 0 2em;
    }
    .span-titulo.right {
        right: 0;
        margin: 0 2em 0 4em ;
    }


    /* Footer */

    footer {
        padding: 10px 0;
        margin: 0 auto;
    }
    .footerIMG {
        width: 100px;
    }
    footer p {
        text-align: center;
        font-size: 10px;
        margin: 10px 10px;
    }

}

/* Section Beneficios */

@media (max-width: 980px) {
    .section-principal {
        display: flex;
        max-width: 100%;
        flex-direction: column;
    
    }
    .box1 {
        max-width: 100%;
    }
    .box2 {
        max-width: 100%;
    
    }
    
    .box-img {
        width: 100%;
    }
    .container-boxx {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        margin-bottom: 0;
    }
    .section-principal .container-boxx:nth-child(2) {
        flex-direction: column-reverse;
    }
    .section-principal .container-boxx:nth-child(4) {
        flex-direction: column-reverse;
    }

}
/* PÁGINA CONTATOS */
@media (max-width: 1600px) {
    .contact {
        padding: 40px;
    }
    .containerContato {
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .contactInfo {
        margin-bottom: 40px;
        width: 100%;
    }
    .contactForm {
        margin-bottom: 40px;
        width: 90%;
    }
}

/* PÁGINA CURSOS */

@media (max-width: 880px){
    .img-cursos {
        width: 300px;
        height: 280px;
        display: block;
    }

    .box-cursos:hover {
        transform: none;
    }
    .desc-cursos h1 {
        margin: 20px 0;
    }
    .desc-cursos p {
        font-size: 1em;
    }

    /* Social Icons */
    .social-menu a {
        margin: 10px;
    }
    .contato-whats a {
        bottom: 32px;
        left: 32px;
    }
    .contato-whats a:hover {
        transform: none;

    }
    /* Scroll to top */
    .to-top:hover {
        transform: none;
    }
}

