.swiper-container {
    width: 840px;
    height: 800px;
    position: relative;
  }
  .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
  }
  
  .swiper_img {
      width: 100%;
  }

  .swiper-pagination span {
    --swiper-theme-color: rgb(245, 83, 180);
  }
