.swiper {
  width: 800px;
  height: 750px;
  -webkit-tap-highlight-color: transparent;
}

.swiper_img {
  width: 100%;
}
.swiper-button-next, .swiper-button-prev {
  color: rgba(255, 180, 225, 0.8) !important;
}
  .swiper-pagination span {
    --swiper-theme-color: rgba(255, 180, 225, 0.8);
  }
