.swiper-container {
    width: 840px;
    height: 800px;
    position: relative;
    -webkit-tap-highlight-color: transparent;
  }
  .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
  }
  
  .swiper_img {
      width: 100%;
  }

  .swiper-pagination span {
    --swiper-theme-color: rgba(255, 180, 225, 0.8);
  }
